@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Product Management</h1>
    <p>Добро пожаловать в моё маленькое приложение</p>
    <a href="/products" class="btn btn-primary btn-lg">View Products</a>
</div>
